<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuYNQ4x4bOGFZlG2qeCdTJ0_B6XlogmrU</string>
	<key>GCM_SENDER_ID</key>
	<string>210308409163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.attendance.app</string>
	<key>PROJECT_ID</key>
	<string>attendanceapp-54adf</string>
	<key>STORAGE_BUCKET</key>
	<string>attendanceapp-54adf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210308409163:ios:e8455ca10414766863eace</string>
</dict>
</plist>